##### Class 設計

In [1]:
import pymysql
from pprint import pprint
import configparser as cp
class SqlQuery:
    config = cp.ConfigParser()
    config.read('config.ini')

    def __init__(self,database=None):
        self.connection = pymysql.connect(
        host=config['DB']['host'],
        user=config['DB']['user'],
        password=config['DB']['password'],
        port=int(config['DB']['port']),
        database = database,
        cursorclass=pymysql.cursors.DictCursor
        )
    def show_database(self):
        with self.connection.cursor() as cursor:
            cursor.execute("SHOW DATABASES;") 
            result = cursor.fetchall()
        return result
    
    def show_table(self):
        with self.connection.cursor() as cursor:
            cursor.execute("SHOW TABLES;") 
            result = cursor.fetchall()
        return result

database = SqlQuery().show_database()
# pprint(database)

table = SqlQuery("my_titanic").show_table()
pprint(table)

NameError: name 'config' is not defined

##### 繼承