In [5]:
# 建立 function 1
def first_hello(name="Acer"):
    print(f"Hello , {name}")

first_hello("John")

Hello , John

In [8]:
# 建立 function 2

In [ ]:
# 建立 function 3

In [ ]:
# 建立 function 4

-----

In [2]:
# 改寫 Module2 practice

def after_discount(total,discount):
    if(total > 2000 ):
        total -= discount
    return total

print(after_discount(2500,200))

2300

In [3]:
%pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pymysql

connection = pymysql.connect(
    host="localhost",
    user="root",
    password="P@ssw0rd",
    port=3306
)
with connection.cursor() as cursor:
    cursor.execute("SHOW DATABASES;") #()內放SQL指令
    result = cursor.fetchall()

print(result)

(('classicmodels',), ('information_schema',), ('my_database',), ('my_titanic',), ('my_train_titanic',), ('mysql',), ('performance_schema',), ('sakila',), ('servdb',), ('social_media_app',), ('sys',), ('transaction_test',), ('world',))

In [29]:
from pprint import pprint
def sql_query(database=None,sql=None):
    import pymysql
    connection = pymysql.connect(
        host="localhost",
        user="root",
        password="P@ssw0rd",
        port=3306,
        database = database,
        cursorclass=pymysql.cursors.DictCursor
    )
    with connection.cursor() as cursor:
        cursor.execute(sql) #()內放SQL指令
        result = cursor.fetchall()

    return result

# databases = sql_query(sql = "SHOW DATABASES;")
# pprint(databases)

# tables = sql_query("my_titanic","SHOW TABLES;")
# pprint(tables)

datas = sql_query("my_titanic","SELECT * FROM full_passengers")
# pprint(datas)

for data in datas:
    if 'Leonard' in data['pname'].split(',')[-1] and data['sex'] == 'male' :
        print(data['id'])
        print(data['pname'])
        print(data['pclass'])

21
Beckwith, Mr. Richard Leonard
1.00
443
Hickman, Mr. Leonard Mark
2.00
473
Kirkland, Rev. Charles Leonard
2.00
827
Goodwin, Master. Sidney Leonard
3.00
1028
Moore, Mr. Leonard Charles
3.00
1097
Palsson, Master. Gosta Leonard
3.00
1240
Theobald, Mr. Thomas Leonard
3.00